---
import RandomAvatarCard from '../components/RandomAvatarCard.tsx';
---

<h1 style="text-align: center;">Random Image</h1>
<div style="display: flex; justify-content: center;">
  <RandomAvatarCard client:load />
</div>