---
import Button from '../components/Button.tsx';
---
<h1 style="text-align: center;">Bienvenido a mi proyecto</h1>
<div style="display: flex; justify-content: center;">
  <Button client:load />
</div>